/*---Basic styling START---*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.container {
    width: 80%;
    margin: 0 auto;
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    color: darkturquoise;
    background-color: dimgray;
}

.light {
    background-color: slategray;
}

.content {
    width:100%;
    padding: 1em;
}

.sectionHeading {
    margin: 0 auto;
    /*width:92%;*/
}

.clearfix {
    overflow: auto;
    zoom: 1;
}
/*---Basic styling END---*/

/*---Navigation START---*/
header nav{
	display: flex; /* Ensure you can click anywhere in the li for the link */
    justify-content: flex-end;
    list-style: none; /* remove the list item dots*/
}

.navigation a {
    padding: 0.5em;
    display: block;
    text-decoration: none;
	color: inherit;
}

a:hover{
	cursor: pointer;
}

/* Change the menu color to slategrey when hovering over a link*/
.navigation a:hover {
    background-color: slategrey;
}
/*---Navigation END---*/

/*---Info START---*/
.info {
    /* image sourced from https://www.needpix.com/photo/download/844735/ */
    background-image: url('../images/table-mountain_resized.jpg'); /* Author: nike159 (pixbay.com) */
    background-position: center center;
	background-size: cover;
    display: flex;
    flex-direction: row;
}

.info-left {
    float: left;
    padding: 6%;
}

.info-right {
    float: right;
    padding: 1em 6%;
}

.info-right img {
    border-radius: 50%;
    width:100%;
    max-width: 190px;
    min-width: 100px;
    height: auto;
    box-shadow: 0px 0px 10px 5px lightgrey;
}
/*---Info END---*/

/*---Place START---*/
.city {
    display: flex;
    flex-direction: row;
    padding: 0% 6%;
}

.city-left {
    float: left;
    margin: 0em;
    /*padding-right: 1%;*/
    width: 35%;
    padding: 1em 0em;
}

.city-left img {
    width: 100%;
    max-width: 420px;
    min-width: 150px;
    height: auto;
}

.city-right {
    margin: 0.7em 0em;
}
/*---Place END---*/

/*---Foreign Language START---*/
figcaption {
    font-style: italic;
    font-size: small;
}

.language {
    display: flex;
    padding: 0% 6%;
}

table {
    border-collapse:separate;
    border:solid dimgray 1px;
    border-radius:15px;
    width: 100%;
    margin: 0.5em 0em;
}

td, th {
    border-left:solid dimgray 1px;
    border-top:solid dimgray 1px;
}

th {
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}
/*---Foreign Language END---*/

/*---History START---*/
.history {
    display: flex;
    padding: 0% 6%;
}
h3 {
    text-align: center;
}
.place {
    display:flex;
    width:100%;
}

.place img {
    width:100%;
    aspect-ratio: 4 / 3 ;
    max-width: 225px;
    max-height: 210px;
    height: auto;
    float: right;
    margin: 0.4em;
    box-shadow: 0px 0px 5px 3px lightgrey;
}

.one,.two,.three {
    /* display: flex; */
    width:33.33%;
    padding-right: 1em;
}

/* .facts {
    float:left;
} */
/*---History END---*/

/*---Media Queries START---*/

@media(min-width:100px) and (max-width:499px){
    /* When the screen size is less than 499px */
    .header{
        display:none;
    }
    .info {
        display: flex;
        flex-direction: row;
    }

    .info-right {
        margin: 0 auto;
    }
}

@media(min-width:500px) and (max-width:969px){
    /* When the screen size is between 500px and 969px */

    /* info section styling */
    .info {
        display: flex;
        flex-direction: row;
    }
    
    .info-left{
        margin: auto auto;
        padding: 0em 4.4em
    }

    .info-right {
        margin: 0 auto;
        padding: 1em 6em;
    }
    /* City section styling */
    .city {
        display: flex;
    }

    .city-left img{
        min-width: 293px;
    }

    figcaption {
        width:15em;
    }

    .city-right{
        margin: 0em;
        display:inline-block;
    }
    /* History section styling */
    .place {
        display:block;
        width:100%;
    }

    .place img {
        width:100%;
        aspect-ratio: 4 / 3 ;
        max-width: 160px;
        max-height: 210px;
        height: auto;
        float: right;
        margin: 0.5em;
        box-shadow: 0px 0px 5px 3px lightgrey;
    }

    .one, .two ,.three {
        width:100%;
        
    }

    .two img {
    float: left;
    }
}

@media(min-width:970px){
    /* When the screen size is 970px and larger */
    
    /* info section styling */
    .info {
        display: flex;
        flex-direction: row;
    }
    
    .info-left{
        margin: 5em auto;
        padding: 0em 4.4em
    }

    .info-right {
        margin: 0 ;
        padding: 1em 5em;
    }
    /* City section styling */
    .city-left {
        padding-right: 2%;
    }
}
/*---Media Queries END---*/